<div class="grid-container full">
  <div class="grid-x grid-margin-x card-grid">
    <% %w(active inactive).each do |status| %>
      <div class="cell small-6">
        <div class="card">
          <div class="card-section">
            <p class="mb-m"><%= t(".#{status}_fields") %></p>
            <ul class="draggable-list js-connect js-list-<%= status %>">
              <% signup_fields(status).each do |signup_field|%>
                <%= render "field", signup_field: signup_field %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>


  $(document).ready(() => {
      $("#submit_extra_fields").on("submit", (event) => {
          event.preventDefault()
          var activeFields = document.querySelectorAll(".js-list-actives li");
          var activeFieldsManifestName = [];

          activeFields.forEach((field) => {
              activeFieldsManifestName.push(field.dataset.contentBlockManifestName);
          })

          $.ajax({
              method: "PATCH",
              url: $("#submit_extra_fields").attr("action"),
              contentType: "application/json",
              data: JSON.stringify({ field_ids: activeFieldsManifestName })
          }).then(() => {
             window.location.reload()
          });

      })
  })

</script>
